html { font-family: sans-serif; }
body.dark { filter: url(#invertFilter); background-color: #000; margin: 0; }

main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
}

section#toolbar {
    display: flex;
    flex-direction: column;
    width: 200px;
    border-right: 1px dotted black;
    box-shadow: 2px 0 8px rgba(0,0,0,0.1);

    > button { width: 100%; font-size: 10pt; }

    > div#importexport {
        padding: 1rem 0.2rem 0;
        font-size: 10pt;
    }

    > div#toolbox {
        overflow-y: scroll;
        scrollbar-width: none;

        > div {
            margin-top: 1rem;
            &:first-child { margin-top: 0; }
            &.disabled {
                filter: opacity(0.3);
                > div.tbname:hover { background-color: #ddd; }
                > div.tbtools > div:hover { background-color: transparent; }
            }

            > div.tbname {
                font-size: 9pt;
                text-align: center;
                color: #555;
                background-color: #ddd;
                cursor: pointer;
                &:hover { background-color: #ccc; }
            }

            > div.tbtools {
                display: grid;
                grid-template-columns: auto 1fr auto;
                grid-column-gap: 0.5rem;
                font-size: 11pt;
                > div {
                    display: grid;
                    grid-column: 1 / 4;
                    grid-template-columns: subgrid;
                    cursor: pointer;
                    margin: 0 2px;
                    &:hover { background-color: #eee; }
                    &.activerow { background-color: #dfd; }
                    span.pic {
                        font-size: 8pt;
                        margin: 1px 0;
                        vertical-align: middle;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &.key {
                            background-color: #e8e8e8;
                            border: 1px solid #bbb;
                            border-radius: 3px;
                            padding: 0 3px;
                            box-shadow: 0 1px 1px rgba(0,0,0,0.2), 0 2px 0 0 rgba(255,255,255,0.7) inset;
                        }
                        &.mouse::before {
                            content: '🖰';
                            position: absolute;
                            font-size: 15pt;
                            margin-top: 7px;
                            color: #888;
                        }
                    }
                }
            }
        }

        svg { width: 1rem; height: 1rem; }
    }

    div#filecont {
        margin-top: 0.5rem;
        display: flex;
        > div {
            background-color: #eee;
            padding: 0.5rem;
            cursor: pointer;
            &:hover { background-color: #ddd; }
        }
        > div#file {
            flex: 1;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-family: monospace;
        }
        > div#filesetting {
            display: none;
            border-left: 1px dashed #888;
        }
        &.setting > div#filesetting { display: block; }
    }

    div#server {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 10pt;
        cursor: pointer;
        padding: 0 0.5rem 0.1rem;
        &:hover { background-color: #ddd; }
        > span > span { display: none; }
        > div {
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 0.5rem;
        }
        &.nc { > span > span.nc { display: inline; } > div { background-color: #888; } }
        &.c  { > span > span.c  { display: inline; } > div { background-color: #8f8; } }
        &.dc { > span > span.dc { display: inline; } > div { background-color: #f00; } }
    }
}

div.contextmenu {
    position: absolute;
    background-color: #eef;
    border: 1px solid #dde;
    border-radius: 10px;
    padding: 10px;
    z-index: 99;

    > div.menulbl {
        font-size: 10pt;
        color: #999;
        text-align: center;
    }
    > div.menubtn {
        cursor: pointer;
        padding: 2px 3px;
        &:hover { background-color: #dde; }
    }
    > div.spacer { padding-top: 11px; }
}

svg#grid { flex: 1; }

div#menupopups > div {
    display: none;
    position: fixed;
    width: 80vw;
    height: 80vh;
    left: 10vw;
    top: 10vh;
    background-color: #f8f8f8;
    border: 1px solid #888;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
    flex-direction: column;

    &.small { width: 40vw; height: 40vh; left: 30vw; top: 30vh; }
    .big { flex: 1; }
    > div.scroll { overflow-y: auto; }
}

div.menuclose {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #e77;
    &:hover { background-color: #d66; }
    color: #fff;
    font-weight: bold;
}

div#alerts {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 30vw;
    > div {
        background-color: rgba(200,200,255,0.8);
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
    }
}

div.overlay {
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 98;
}

.multisel {
    button {
        border: 1px solid #444;
        border-right: none;
        &:first-child { border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
        &:last-child { border-right: 1px solid #444; border-top-right-radius: 5px; border-bottom-right-radius: 5px; }
        &.active { background-color: #161; color: #eee; }
        &.active:hover { background-color: #040; }
    }
    &.nobot button { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
}

.colorpicker span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    vertical-align: middle;
    margin: 0 2px;
    border: 1px solid black;
    &.active { box-shadow: 0 0 2px 2px #f80; }
    &.transparent {
        position: relative;
        background: linear-gradient(to bottom right,
            transparent, transparent 46%,
            #f00 46%, #f00 54%,
            transparent 54%, transparent
        );
    }
    &.transparent:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom left,
            transparent, transparent 46%,
            #f00 46%, #f00 54%,
            transparent 54%, transparent
        );
    }
}

// this is all a mess
.positionpicker {
    display: inline-flex;
    height: 50px;
    align-items: stretch;
    vertical-align: middle;
    gap: 2px;

    > div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
    }

    > div:first-child {
        width: 50px;
        border: 1px dotted black;
        > div {
            display: flex;
            justify-content: space-around;
            > div {
                width: 12px;
                height: 12px;
                box-shadow: 0 0 1px rgba(0,0,0,0.1);
                cursor: pointer;
                background-color: #ccc;
                &:hover { background-color: #bbb; }
                &.on { background-color: #8fd37c; }
                &.on:hover { background-color: #7fc36c; }
            }
        }
    }
    &.s0 > div:first-child > div > div.ctr { transform: scale(260%); }
    &.s1 > div:first-child > div > div.ctr { transform: scale(220%); }
    &.s2 > div:first-child > div > div.ctr { transform: scale(180%); }
    &.s3 > div:first-child > div > div.ctr { transform: scale(140%); }

    > div:nth-child(2) {
        width: 15px;
        > div {
            height: 8px;
            cursor: pointer;
            background-color: #8fd37c;
            &:hover { background-color: #7fc36c; }
        }
    }
    &.s1 > div:nth-child(2) { > div.b0 { background-color: #ccc; &:hover { background-color: #bbb; } } }
    &.s2 > div:nth-child(2) { > div.b0, > div.b1 { background-color: #ccc; &:hover { background-color: #bbb; } } }
    &.s3 > div:nth-child(2) { > div.b0, > div.b1, > div.b2 { background-color: #ccc; &:hover { background-color: #bbb; } } }
    &.s4 > div:nth-child(2) { > div.b0, > div.b1, > div.b2, > div.b3 { background-color: #ccc; &:hover { background-color: #bbb; } } }

    > div:last-child {
        font-family: monospace;
        > div {
            background-color: #cce;
            &:hover { background-color: #bbd; }
            padding: 3px;
            cursor: pointer;
            user-select: none;
        }
    }
}

.transformpicker {
    display: inline-flex;
    vertical-align: middle;
    > svg {
        width: 50px;
        height: 50px;
        > g { fill: #8fd37c; }
    }
}


input.conflict { box-shadow: 0 0 5px 2px #f00; }

section.group {
    position: relative;
    border: 1px dashed #666;
    border-radius: 10px;
    margin-top: 30px;
    &:first-child { margin-top: 10px; }
    &:last-child { margin-bottom: 10px; }
    padding: 10px 10px;

    > span:first-child {
        position: absolute;
        top: -10px;
        left: 15px;
        background-color: #f8f8f8;
        font-size: 10pt;
        color: #666;
    }
}

div#actions {
    overflow-y: scroll;

    div.settool {
        cursor: pointer;
        display: inline-flex;
        width: 10em;
        align-items: center;
        padding: 5px 10px;
        min-height: 30px;
        margin: 10px 5px;
        border: 1px dotted #666;

        &.natwidth { width: auto; }
        &.full { display: flex; flex-wrap: wrap; width: auto; }
        &:hover { background-color: #eee; }
        &.addtool-active { background-color: #9f9; }

        > label, > span {
            background-color: #ddf;
            padding: 5px 10px;
            margin-left: 20px;
        }
    }
}

div.filelist {
    > div {
        padding: 1px 8px;
        margin: 5px 2px;
        background-color: #f4f4f4;
        &:hover { background-color: #eee; }
        cursor: pointer;
    }
}
